* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

::selection {
  background-color: #fff176;
  color: #d50000;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ccc;
}

p:last-child {
  /* color: blue; */
}

.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 40px;
}

.content {
  background-color: #26c6da;
  padding: 10px 20px;

  width: 600px;
  height: 200px;

  overflow: auto;
}

.content::selection {
  background-color: black;
}

.accordion {
  margin: 40px 0;
  padding: 10px 20px;

  background-color: #fff;
  border-radius: 15px;
}

.accordion__input:checked + .accordion__content {
  color: red;
}

.accordion__content {
}

.list {
}

.list__item:empty {
  width: 10px;
  height: 10px;
  background-color: red;
}

.list__item::marker {
  content: "🎂";
}

.discount {
  margin-top: 10px;
  display: inline-block;

  position: relative;
}

.discount::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;

  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
}
