* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ccc;
}

p:last-child {
  /* color: blue; */
}

.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 40px;
}

.content {
  background-color: #26c6da;
  padding: 10px 20px;

  width: 600px;
  height: 200px;

  overflow: auto;
}

.accordion {
  margin: 40px 0;
  padding: 10px 20px;

  background-color: #fff;
  border-radius: 15px;
}

.accordion__input:checked + .accordion__content {
  color: red;
}

.accordion__content {
}

.list {
}

.list__item:not(:hover) {
  color: red;
}
